@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing .plan {
  background-color: #F0F8FF;
  padding: 2.5rem;
  padding-bottom: 0px;
  margin: 22px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.pricing .plans{
  background-color: #F0F8FF;
  padding: 2.5rem;
  padding-bottom: 0px;
  margin: 22px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;  
}
.pricing .plans .price {
  margin-bottom: 1rem;
  font-size: 30px;
}

.pricing .plan .price {
  margin-bottom: 1rem;
  font-size: 30px;
}
/* .pricing .plan ul.features {
  text-align: left;
} */
.pricing .plan ul.features li {
  margin: 8px;
}

.pricing .plan.popular {  
  position: relative;
  transform: scale(1.08);
}

.title::after {
  content: "";
  clear: both;
  display: table;
}

.title img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.title span {
  font-size: 20px;
  margin-right: 15px;
}

.arrow{
  border: 2px solid blue;
}

@media (max-width: 500px) {
  .title {
      text-align: center;
  }
  .title img {
      margin: auto;
      float: none;
      display: block;
  }
}